
<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="container-fluid">
<% @products.each do |product| %>
<div class="row">
<div class="col-sm-3 col-md-6"> <%= link_to product.name, product %></div>
<div class="col-sm-3 col-md-6"> <%= product.colour %></div>
<div class="col-sm-3 col-md-6"> <%= product.price %></div>
<div class="col-sm-3 col-md-6"> <img src="<%= product.image_url %>" class="img-responsive" width="100" height="100"/></div>
<div class="col-sm-3 col-md-6"> <%= link_to 'Edit', edit_product_path(product) %></div>
<div class="col-sm-3 col-md-6"> <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>
<% end %>
</div>
<br>

<%= link_to 'New Product', new_product_path %> 


