<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <img src="<%= @product.image_url %>" class="img-responsive"/>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<div>
  <% comment = @product.comments.order(rating: :desc).first%>
  <% (1..comment.rating).each do |i| %>
     <span class="glyphicon glyphicon-star"></span>
  <% end %>
  <br/>
  <%= comment.body %> 
  
</div>