<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <img src="<%= @product.image_url %>" class="img-responsive"/>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<div>
  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
  <% comment = @product.comments.order(rating: :desc).first%>
 <%= render 'new_comment' %>
 <%= will_paginate @comments %>
<%= render partial: 'comments', locals: {comments: @comments} %>
</div>
<!--Add this partial to the products show view after the product details by adding this to the bottom of products\show.html.erb. -->
 
