<!DOCTYPE html>
<html>
  <head>
    <title>Nameofapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  </head>

  <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bike Berlin</a>
      <div>
          <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
            <%= form.label :q, 'Search for:' %>
            <%= form.text_field :q, id: 'q', value: params[:q] %>
            <%= form.submit 'Search' %>     
          <% end %>
      </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Order", orders_url %></li>
      <li><%= link_to "Products", products_url %></li>
      <li><%= link_to "Home", static_pages_index_path %></li>
      <li><%= link_to "About", static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
    </ul>
    <ul class="nav pull-right">
      <li>
        <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
        <%= link_to('Login', new_user_session_path) %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<!-- Flash Notice Tags -->
<% if notice %>
 <div id="notice" class="alert alert-warning"><%= notice %></div>
<% end %>

<%= yield %>

<footer>
  <div class="container"><p class="text-muted">&copy; 2017 Bike Berlin</p></div>
</footer>
</body>
</html>
